<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{tpltitle}}</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="/static/style/dashboard.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="#">UniSc</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/dashboard">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link" href="/dashboard?record=qualification">
                                <div class="sb-nav-link-icon"><i class="fas fa-graduation-cap"></i></div>
                                Qualification
                            </a>
                            <a class="nav-link" href="/dashboard?record=experience">
                                <div class="sb-nav-link-icon"><i class="fas fa-business-time"></i></div>
                                Experience
                            </a>
                            <a class="nav-link" href="/dashboard?record=publication">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Publication
                            </a>
                            
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-gear"></i></div>
                                Settings
                            </a>
                            <a class="nav-link" href="/logout">
                                <div class="sb-nav-link-icon"><i class="fas fa-right-from-bracket"></i></div>
                                Logout
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{stored_username}}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        % if message:
                            <div class="alert alert-dismissible fade show {{!'alert-success' if message == 'Approve' else 'alert-danger'}}" role="alert">
                                <strong>Record {{message}}d!</strong> Your decision is submitted
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        % end
                        <br>
                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Approved Records</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Records</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Pending Approvals</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Records</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Disapproved Records</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Records</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                % if record == 'qualification':
                                        Staff Record by Qualification
                                    % elif record == 'experience':
                                        Staff Record by Experience
                                    % elif record == 'publication':
                                        Staff Record by Publication
                                    % else:
                                        All Staff Record
                                    % end
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        % if record == 'qualification':
                                        <tr>
                                            <th>ID</th>
                                            <th>Qualification Name</th>
                                            <th>Subject Area</th>
                                            <th>Institution Name</th>
                                            <th>Year Issued</th>
                                            <th>Action</th>
                                        </tr>
                                        % elif record == 'experience':
                                        <tr>
                                            <th>ID</th>
                                            <th>Teaching Period</th>
                                            <th>Course Title</th>
                                            <th>Organisation Name</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                        % elif record == 'publication':
                                        <tr>
                                            <th>ID</th>
                                            <th>Author Name</th>
                                            <th>Publication Title</th>
                                            <th>Publication Year</th>
                                            <th>Publication Type</th>
                                            <th>Peer Reviewed</th>
                                            <th>Classification</th>
                                            <th>Action</th>
                                        </tr>
                                        % else:
                                        <tr>
                                            <th>ID</th>
                                            <th>Gender</th>
                                            <th>First Name</th>
                                            <th>Middle Name</th>
                                            <th>Last Name</th>
                                            <th>Date of Birth</th>
                                            <th>Address</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Action</th>
                                        </tr>
                                        % end
                                    </thead>
                                    <tfoot>
                                        % if record == 'qualification':
                                        <tr>
                                            <th>ID</th>
                                            <th>Qualification Name</th>
                                            <th>Subject Area</th>
                                            <th>Institution Name</th>
                                            <th>Year Issued</th>
                                            <th>Action</th>
                                        </tr>
                                        % elif record == 'experience':
                                        <tr>
                                            <th>ID</th>
                                            <th>Teaching Period</th>
                                            <th>Course Title</th>
                                            <th>Organisation Name</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                        % elif record == 'publication':
                                        <tr>
                                            <th>ID</th>
                                            <th>Author Name</th>
                                            <th>Publication Title</th>
                                            <th>Publication Year</th>
                                            <th>Publication Type</th>
                                            <th>Peer Reviewed</th>
                                            <th>Classification</th>
                                            <th>Action</th>
                                        </tr>
                                        % else:
                                        <tr>
                                            <th>ID</th>
                                            <th>Gender</th>
                                            <th>First Name</th>
                                            <th>Middle Name</th>
                                            <th>Last Name</th>
                                            <th>Date of Birth</th>
                                            <th>Address</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Action</th>
                                        </tr>
                                        % end
                                    </tfoot>
                                    <tbody>
                                        % for item in data:
                                            % if record == 'qualification':
                                            <tr>
                                                <td>{{ item [1]}}</td>
                                                <td>{{ item [2]}}</td>
                                                <td>{{ item [3]}}</td>
                                                <td>{{ item [4]}}</td>
                                                <td>{{ item [5]}}</td>
                                                <td><a href="/display_data/{{ item[1] }}" class="btn btn-sm btn-outline-primary">View</a></td>
                                            </tr>
                                            % elif record == 'experience':
                                            <tr>
                                                <td>{{ item [0]}}</td>
                                                <td>{{ item [1]}}</td>
                                                <td>{{ item [3]}}</td>
                                                <td>{{ item [4]}}</td>
                                                <td>{{ item [5]}}</td>
                                                <td><a href="/display_data/{{ item[0] }}" class="btn btn-sm btn-outline-primary">View</a></td>
                                            </tr>
                                            % elif record == 'publication':
                                            <tr>
                                                <td>{{ item [0]}}</td>
                                                <td>{{ item [2]}}</td>
                                                <td>{{ item [3]}}</td>
                                                <td>{{ item [4]}}</td>
                                                <td>{{ item [5]}}</td>
                                                <td>{{ item [6]}}</td>
                                                <td>{{ item [7]}}</td>
                                                <td><a href="/display_data/{{ item[0] }}" class="btn btn-sm btn-outline-primary">View</a></td>
                                            </tr>
                                            % else:
                                            <tr>
                                                <td>{{ item [0]}}</td>
                                                <td>{{ item [1].upper()}}</td>
                                                <td>{{ item [2]}}</td>
                                                <td>{{ item [3]}}</td>
                                                <td>{{ item [4]}}</td>
                                                <td>{{ item [5]}}</td>
                                                <td>{{ item [6]}}</td>
                                                <td>{{ item [7]}}</td>
                                                <td>{{ item [8]}}</td>
                                                <td><a href="/display_data/{{ item[0] }}" class="btn btn-sm btn-outline-primary">View</a></td>
                                            </tr>
                                            % end
                                        % end
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Teaching Database 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/static/js/dashboard.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="/static/js/chart-area-demo.js"></script>
        <script src="/static/js/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="/static/js/datatables-simple-demo.js"></script>
    </body>
</html>
