<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tpltitle}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="/static/style/iofrm-theme21.css">
</head>
<body>
    <div class="form-body without-side">
        <div class="website-logo">
            <a href="/display_data">
                <div class="logo">
                    <img class="logo-size" src="/static/img/USC_Logo_Transparent.png" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="/static/img/graphic3.svg" alt="">
                </div>
            </div>
            <div class="form-holder">  
                % if message=="success-form":
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <strong>Success!</strong> Your form is submitted
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                % end
                <div class="form-content">
                    <div class="form-items">
                        <h3>Teaching Database</h3>
                        <p>Login to Admin Portal</p>
                        <form method="post" action="/login">
                            <input class="form-control" type="text" name="email" placeholder="E-mail Address" required>
                            <input class="form-control" type="password" name="password" placeholder="Password" required>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Login</button> 
                                <!-- <a href="#">Forgot Your Password?</a> -->
                            </div>
                        </form>
                        <!-- <div class="other-links" style="display: none;">
                            <div class="text">Or login with</div>
                            <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a><a href="#"><i class="fab fa-google"></i>Google</a><a href="#"><i class="fab fa-linkedin-in"></i>Linkedin</a>
                        </div> -->
                        <div class="other-links">
                            <div class="text">For new staff registration fill up the form</div>
                        </div>
                        <a href="/staff_reg" class="btn btn-secondary d-block">Registration Form</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>