<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style/form.css">
    <link rel="stylesheet" type="text/css" href="static/style/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <title>{{tpltitle}}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body class="w3-container">
    <!-- Header -->
    <!-- <header class="w3-container w3-theme w3-padding" id="myHeader">
        <div class="w3-center">
            <h4 class="w3-xxxlarge w3-animate-bottom">{{tpltitle}}</h4>
        </div>
    </header> -->

    <div class="testbox">
        <form method="post" action="/submit_data">
            <div class="banner text-white">
                <h1>{{tpltitle}}</h1>
            </div>
            <br />
            <fieldset>
                <legend>Personal Information</legend>
                <div class="colums">
                    <div class="item">
                        <label for="fname">First Name<span>*</span></label>
                        <input id="fname" type="text" name="fname" placeholder="First Name" required/>
                    </div>
                    <div class="item">
                        <label for="mname">Middle Name</label>
                        <input id="mname" type="text" name="mname" placeholder="Middle Name"/>
                    </div>
                    <div class="item">
                        <label for="lname">Last Name<span>*</span></label>
                        <input id="lname" type="text" name="lname" placeholder="Last Name" required/>
                    </div>
                    <div class="question">
                        <label>Gender<span style="color: red; margin: 0px;">*</span></label>
                        <div class="question-answer">
                            <div class="cols">                                
                                <select name="gender" id="gender" required>
                                    <option value="" selected disabled>-- Select Gender --</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <label for="dob">Date of Birth<span>*</span></label>
                        <input id="dob" type="date" name="dob" required/>
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                    <div class="item">
                        <label for="address">Address<span>*</span></label>
                        <input id="address" type="text" name="address" placeholder="Address" required/>
                    </div>
                    <div class="item">
                        <label for="email">Email <span>*</span></label>
                        <input id="email" type="email" name="email" placeholder="your@email.com" required/>
                    </div>
                    <div class="item">
                        <label for="phone">Phone <span>*</span></label>
                        <input id="phone" type="tel" name="phone" placeholder="0451234567" required/>
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset>
                <legend>Qualification Details</legend>
                <p>Please fill in your highest completed qualification below:</p>
                <div class="colums">
                    <div class="item">
                        <label for="qualification_name">Qualification<span>*</span></label>
                        <input id="qualification_name" type="text" name="qualification_name" placeholder="Name of Qualification" required/>
                    </div>
                    <div class="item">
                        <label for="subject_area">Subject<span>*</span></label>
                        <input id="subject_area" type="text" name="subject_area" placeholder="Subject or Major Area" required/>
                    </div>
                    <div class="item">
                        <label for="institution_name">Institution<span>*</span></label>
                        <input id="institution_name" type="text" name="institution_name" placeholder="Full Name of Awarding Institution" required/>
                    </div>
                    <div class="item">
                        <label for="year_issued">Year<span>*</span></label>
                        <input id="year_issued" type="text" name="year_issued" placeholder="Year Awarded" required/>
                    </div>

                </div>
            </fieldset>
            <br>
            <fieldset>
                <legend>Teaching Experience
                </legend>
                <p>Please fill in your most recent teaching experience below:</p>
                <div class="colums">
                    <div class="item">
                        <label for="teaching_period">Period<span>*</span></label>
                        <input id="teaching_period" type="text" name="teaching_period" placeholder="Teaching Period" required/>
                    </div>
                    <div class="item">
                        <label for="field">Field<span>*</span></label>
                        <input id="field" type="text" name="field" placeholder="Field of Study/Course Title" required/>
                    </div>
                    <div class="item">
                        <label for="teaching-institution">Institution<span>*</span></label>
                        <input id="teaching-institution" type="text" name="teaching-institution" placeholder="Name of Organization/Institution" required/>
                    </div>
                    <div class="item">
                        <label for="role">Role<span>*</span></label>
                        <input id="role" type="text" name="role" placeholder="Course Coordinator etc." required/>
                    </div>

                </div>

            </fieldset>
            <br>
            <fieldset>
                <legend>Relevant Employment/Experience</legend>
                <p>Please provide your most recent employment experience below</p>
                <div class="colums">
                    <div class="item">
                        <label for="employment-period">Employment Period</label>
                        <input id="employment-period" type="text" name="employment-period" placeholder="Period of Employment"/>
                    </div>
                    <div class="item">
                        <label for="relevant-duties">Relevant duties</label>
                        <input id="relevant-duties" type="text" name="relevant-duties" placeholder="Duties or Roles"/>
                    </div>
                    <div class="item">
                        <label for="employer">Employer</label>
                        <input id="employer" type="text" name="employer" placeholder="Name of Employer"/>
                    </div>
                    <div class="item">
                        <label for="position-title">Position Title</label>
                        <input id="position-title" type="text" name="position-title" placeholder="Title of Position"/>
                    </div>
                    <div class="item">
                        <label for="work_status">FTE</label>
                        <select name="work_status" id="work_status">
                            <option value="full-time" selected>Full-Time</option>
                            <option value="part-time">Part-Time</option>
                            <option value="casual">Casual</option>
                        </select>
                    </div>
                </div>                
            </fieldset>
            <div class="item">
                <label for="other-info">Other Information</label>
                <textarea id="other-info" name="other-info" rows="5">Please provide us with any other relevant information you believe is relevant.</textarea>
            </div>
            <fieldset>
                <legend>Publications</legend>
                <p>Please fill in your most/top recent publication below:</p>
                <div class="colums">
                    <div class="item">
                        <label for="author">Author</label>
                        <input id="author" type="text" name="author" placeholder="Author Name"/>
                    </div>
                    <div class="item">
                        <label for="publication-year">Year of Publication</label>
                        <input id="publication-year" type="text" name="publication-year" placeholder="Year of Publication"/>
                    </div>
                    <div class="item">
                        <label for="publication-title">Title of Publication</label>
                        <input id="publication-title" type="text" name="publication-title" placeholder="Title of Publication"/>
                    </div>
                    <div class="item">
                        <label for="publication-type">Type of Publication</label>
                        <input id="publication-type" type="text" name="publication-type" placeholder="Type of Publication"/>
                    </div>
                    <div class="question">
                        <label>Peer Reviewed/Reviewed</label>
                        <div class="question-answer">
                            <div>
                                <input type="radio" value="yes" id="yes" name="peer-rev" />
                                <label for="yes" class="radio"><span>Yes</span></label>
                                <input type="radio" value="no" id="no" name="peer-rev" />
                                <label for="no" class="radio"><span>No</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="question">
                        <label>Research Classification</label>
                        <div class="question-answer">
                            <div>
                                <input type="radio" value="research-class" id="research-class" name="classification" />
                                <label for="research-class" class="radio"><span>Research</span></label>
                                <input type="radio" value="scholar-class" id="scholar-class" name="classification" />
                                <label for="scholar-class" class="radio"><span>Scholarship</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="w3-bar btn-block">
                <button type="submit" class="btn btn-success">Submit</button>
                <!-- <button type="submit" href="/" class="btn btn-success">Submit</button> -->
                <a href="/" class="btn btn-outline-danger">Cancel</a>
            </div>
        </form>
    </div>

</body>

</html>